<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
        </header>

        <main>
            <h2>Sentiment Analysis for a News Article </h2>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="URL ">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

                <section >
                    <h2>Sentiment Analysis Results </h2>
                    <div>
                        <span>Subjectivity : </span>
                        <span id="subjectivity"></span>
                    </div>
                    <div>
                        <span>Agreement : </span>
                        <span id="agreement"></span>
                    </div>
                    <div>
                        <span>Irony : </span>
                        <span id="irony"></span>
                    </div>
                    <div>
                        <span >Confidence : </span>
                        <span id="confidence"></span>
                    </div>
                </section>
        </main>

       
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
    
</html>
